@model Rosu.Models.Stakeholder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stakeholder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stakeholder_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stakeholder_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.engagementPurpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engagementPurpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateEngaged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateEngaged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.stakeholderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
