@model Rosu.Models.CommitteeMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommitteeMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.class_represented)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_represented)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Committee.committee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Committee.committee_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.studentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
