@model IEnumerable<Rosu.Models.Program>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="btn btn-success">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.eventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOrganized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.programCost)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.eventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOrganized)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.programCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.eventID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Details", "Details", new { id = item.eventID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.eventID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
    }

</table>
